.scoreboard-container {
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  background: white;
  padding: 5px 40px 5px 15px;
  border-radius: 0px 0px 15px;

  p {
    color: #303030;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
  }
}

.confettis {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
