.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .gameover {
    background: white;

    width: 50%;
    height: 50%;

    border-radius: 5px;

    text-align: center;
  }
}
